/* TODO Add site wide styles */
/* 8d6a9f c5cbd3 8cbcb9 dda448 bb342f */
@import './reset.css';

body {
    background-color: #8cbcb9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    height: 100vh;
}

.main-app {
    width: 100%;
}

.home {
    display: flex;
    width: 100%
}