.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 60px; */
    border-bottom: 1px solid black;
    /* padding: 10px; */

}

.session-links {
    display: flex;
}

.home-link, .session-links {
    margin: 10px;
}