/* 8d6a9f c5cbd3 8cbcb9 dda448 bb342f */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 60px; */
    /* border-bottom: 1px solid #333; */
    /* box-shadow: 0 2px 15px 5px #333; */
    /* background-color: #8d6a9f;background-color: #1d1c1d; */
    background-color: #000000;
    /* padding: 10px; */
    /* position: fixed; */
    z-index: 10;

}

.nav-right-logged-out {
    display: flex;
    align-items: center;
}

.nav-right-logged-in {
    display: flex;
    align-items: center;
}

.session-button {
    height: 26px;
    border-radius: 3px;
    border: 1px solid #333;
    margin-left: 5px;
    color: #333;
    /* background-color: #dda448; */
}

.login {
    background-color: #2EB67D;
}

.signup {
    background-color: #ECB22E;
}

.nav-right-logged-out {
    margin: 10px;
}

.home-link {
    /* color: #dda448; */
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: #611f69;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    /* text-shadow: 1px 1px 0 #333; */
}

.home-link > span {
    margin-left: 3px;
}

.profile-menu-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* background-color: #8d6a9f; */
    height: 25.5px;
    width: 25.5px;
    border-radius: 50%;

}

.profile-button {
    position: relative;
    background: transparent;
    border: none;
    color: #333;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-button:hover {
    cursor: pointer;
}

.profile-button-user-image {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 6px;
    object-fit: cover;
}

.italic-span {
    font-weight: bold;
    font-style: italic;
}


.profile-menu-details {
    position: absolute;
    top: 44px;
    width: 280px;
    right: 10px;
    /* border: 1px solid black; */
    border: 0.1px solid #565856;
    background-color: rgb(49, 52, 55);
    border-radius: 6px;
    /* padding: 20px; */
    /* color: black; */
    color: #FFFFFFB3;
}

.profile-menu-detials-user-details {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #565856;
}

.profile-menu-details > div{
    padding: 20px
}





.logout-button {
    /* width: 140px;
    height: 30px;
    margin: 10px 0 0 0;
    border-radius: 6px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: #8cbcb9; */
    background: none;
    color: #FFFFFFB3;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    text-align: start;
    
}

/* .logout-button:hover {
    background-color: rgb(64,179,228);
} */

.session-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #611f69;
}

.session-form-container > h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.signup-form, .login-form {
    display: flex;
    flex-direction: column;
}

.signup-form > input, .login-form > input {
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    font-size: 16px;
    padding-left: 10px;
}

.signup-form > button, .login-form > button {
    width: 313px;
    height: 40px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: #8cbcb9;
}

.signup-form > ul, .login-form > ul {
    width: 313px;
    margin: 10px;
    
}

.demo-login {
    background-color: #611f69 !important;
    color: #FFFFFF;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    width: 30px;
    background: url(../../../../app/assets/slack_tile_logo_icon_168820.png);
    background-size: cover;
}

.logo-large {
    height: 60px;
    width: 60px;
    background: url(../../../../app/assets/slack_tile_logo_icon_168820.png);
    background-size: cover;
}